<%= form_for(@newpost) do |f| %>
  <% if @newpost.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@newpost.errors.count, "error") %> prohibited this newpost from being saved:</h2>

      <ul>
      <% @newpost.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field"><br>
  <%= f.text_area :content %>
  <%= f.hidden_field :discussion_id, :value => @discussion.id %>
  <%= f.hidden_field :user_id, :value => current_user.id %>
</div>
  <div class="actions">
    <%= f.submit "Submit Post"%>
  </div>
<% end %>
