<p id="notice"><%= notice %></p>

<h2>
  <strong>Topic : 
  <%= @discussion.topic %></strong>
</h2>

<p>
  <strong>Posted by:</strong>
  <%= @discussion.user.first_name %>
  <%= @discussion.user.last_name %>
</p>
<div>
  <%= render partial: 'discussion', locals: {discussions: @discussions} %>
</div>
  <div>
<%= render partial: 'newpost', locals: {newpost: @newpost} %>
</div>
<!--<%= link_to 'Edit', edit_discussion_path(@discussion) %> |
<%= link_to 'Back', discussions_path %>-->
